<template>
  <div>
    <!-- <NuxtWelcome /> -->
    <v-card
      class="mt-2 mx-2"
      style="
        color: white;
        background-color: blue;
        border-radius: 5px;
        padding: 15px;
      "
    >
      <v-row class="d-flex align-center">
        <v-col class="text-center text-h4" style="font-weight: 700">
          Total: {{ totoPoint }} points
        </v-col>
        <v-col class="text-center text-h6" style="font-weight: 700">
          {{ toDOlist.length }} Sessions
        </v-col>
        <v-col class="text-center text-h6" style="font-weight: 700">
          {{ week }} week
        </v-col>
      </v-row>
    </v-card>
    <div class="mt-13 mb-6 mx-2">
      <v-row class="d-flex align-center">
        <v-col class="text-center text-h4">Week Goal</v-col>
        <v-col
          class="text-h5"
          style="border: solid 1px; border-radius: 5px; padding: 15px"
          >7</v-col
        >
        <v-col></v-col>
      </v-row>
    </div>
    <v-layout align-center>
      <v-btn
        @click="addList()"
        class="mt-6 mb-4"
        :style="{ left: '50%', marginTop: '1%', transform: 'translateX(-50%)' }"
        >+ ADD NEW SESSION</v-btn
      >
    </v-layout>

    <div v-for="(cat, n) in toDOlist" :key="n">
      <v-layout align-center class="mt-6 mb-8">
        <v-card
          :style="{
            left: '50%',
            marginTop: '1%',
            transform: 'translateX(-50%)',
            width: '75%',
          }"
        >
          <v-card-title primary-title>
            <v-row>
              <v-col sm="3" xs="2">
                <v-text-field label="Week" v-model="cat.week" disabled>
                </v-text-field>
              </v-col>

              <v-col sm="9" xs="4">
                <v-text-field
                  label="Title"
                  v-model="cat.title"
                  @input="setTitle($event, n)"
                >
                </v-text-field>
              </v-col>
            </v-row>

            <div class="mb-5" style="white-space: pre-wrap">
              {{ new Date(cat.hour) }}
            </div>
            <v-row>
              <v-col cols="12">
                <v-textarea
                  v-model="cat.description"
                  label="Description"
                  v-on:change="setDescription($event, n)"
                ></v-textarea>
              </v-col>
            </v-row>
          </v-card-title>

          <v-card-actions>
            <v-layout align-center>
              <v-row>
                <v-col>
                  <div style="border: none !important">
                    <v-checkbox
                      v-model="cat.checkbox"
                      v-on:click="
                        upDatePointWithCheckBox(cat.checkbox, cat.week, n)
                      "
                    >
                      <template v-slot:label> <div>I agree that</div></template>
                    </v-checkbox>
                  </div>
                </v-col>
                <v-col>
                  <v-btn
                    :style="{
                      left: '55%',
                      marginTop: '1%',
                      background: 'rgb(212, 60, 0)',
                      color: 'dark',
                      transform: 'translateX(-50%)',
                    }"
                    @click="removeList(n)"
                  >
                    <i
                      aria-hidden="true"
                      class="
                        v-icon
                        notranslate
                        v-icon--left
                        mdi mdi-cancel
                        theme--light
                        mr-1
                      "
                    ></i>
                    DELETE
                  </v-btn>
                </v-col>
              </v-row>
            </v-layout>
          </v-card-actions>
        </v-card>
      </v-layout>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      // items: [],
      checkbox: false,
      totoPoint: 0,
      week: 0,
      description: "",
      nom: "",
      title: "",
      toDOlist: [],
      newList: {
        title: "",
        description: "",
        hour: "",
        checkbox: false,
        week: "",
      },
      today: new Date(),
    };
  },
  mounted() {
    // this.getData();
    this.getWeekNumber();
    if (localStorage.getItem("toDOlist")) {
      try {
        this.toDOlist = JSON.parse(localStorage.getItem("toDOlist"));
      } catch (e) {
        localStorage.removeItem("toDOlist");
      }
    }
  },

  methods: {
    getWeekNumber() {
      var d = new Date();
      var DoW = d.getDay();
      d.setDate(d.getDate() - ((DoW + 6) % 7) + 3); // Nearest Thu
      var ms = d.valueOf(); // GMT
      d.setMonth(0);
      d.setDate(4); // Thu in Week 1
      return (this.week = Math.round((ms - d.valueOf()) / (7 * 864e5)) + 1);
    },
    groupBy(xs, key) {
      return xs.reduce(function (rv, x) {
        (rv[x[key]] = rv[x[key]] || []).push(x);
        return rv;
      }, {});
    },
    setGoalWeekPoint(data) {
      const resultat = this.groupBy(this.toDOlist, "week");
      for (var prop in resultat) {
        if (prop == data) {
          var gropPoint = 0;
          for (const element of resultat[prop]) {
            if (element.checkbox == false) {
              gropPoint = 0;
              break
            } else {
              gropPoint = 7;
            }
          }
          

         this.totoPoint=this.totoPoint+gropPoint;
        }
      }

      // const resultat = this.toDOlist.filter(({ week }) => week);
    },

    upDatePointWithCheckBox(data, week, n) {
      !data ? (this.totoPoint += 10) : (this.totoPoint -= 10);
      if (!data) {
        var oldList = JSON.parse(localStorage.getItem("toDOlist"));
        oldList[n].checkbox = true;
        // oldList[n].hour = new Date();
        this.toDOlist = oldList;
        this.saveList();
        this.setGoalWeekPoint(week);
      } else {
        var oldList = JSON.parse(localStorage.getItem("toDOlist"));
        oldList[n].checkbox = false;
        // oldList[n].hour = new Date();
        this.toDOlist = oldList;
        this.saveList();
        this.setGoalWeekPoint(week);
      }
    },
    addList() {
      // ensure they actually typed something
      // if (!this.newList) return;

      this.newList.title = this.title;
      this.newList.description = this.description;
      this.newList.hour = this.today;
      this.newList.week = this.week;
      // this.newList.checkbox=this.checkbox;
      this.toDOlist.push(this.newList);
      // this.newList = null;
      this.saveList();
    },
    setTitle(title, n) {
      var oldList = JSON.parse(localStorage.getItem("toDOlist"));
      oldList[n].title = title.target.value;
      oldList[n].hour = new Date();
      this.toDOlist = oldList;
      this.saveList();
    },

    setDescription(description, n) {
      var oldList = JSON.parse(localStorage.getItem("toDOlist"));
      oldList[n].description = description.target.value;
      oldList[n].hour = new Date();
      this.toDOlist = oldList;
      this.saveList();
    },
    removeList(x) {
      this.toDOlist.splice(x, 1);
      this.totoPoint -= 3;
      this.saveList();
    },
    saveList() {
      let parsed = JSON.stringify(this.toDOlist);
      localStorage.setItem("toDOlist", parsed);
    },
  },
};
</script>
<style>
.v-input__control {
  border: solid 2px gray;
  border-radius: 5px;
}
.v-selection-control.v-selection-control--inline.v-selection-control--density-default.v-checkbox-btn {
  width: 100%;
}
label.v-label.v-label--clickable {
  width: 100%;
}
</style>